[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
flake8 = "*"
pylint = "*"
rope = "*"

[packages]
requests = "*"
flask = "*"
flask-env = "*"
flask-compress = "*"
flask-log-request-id = "*"
coloredlogs = "*"
flask-bcrypt = "*"
flask-caching = "*"
flask-restful = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
flask-restless = "*"
celery = "*"
redis = "*"
marshmallow = "*"
mantunsci-auth = {git = "https://bitbucket.org/huangloong/mantunsci-auth.git"}
hikvision-auth = {git = "https://bitbucket.org/huangloong/hikvision-auth.git"}
alembic = "*"

[requires]
python_version = "3.6"
