[Unit]
Description=Do the most celery job in XN project
after=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=xineng
RuntimeDirectory=xnback
WorkingDirectory=/home/xineng/xn-backend
Environment=XN_SETTINGS=../settings.cfg
ExecStart = /home/xineng/.local/share/virtualenvs/xn-backend-62k_6oca/bin/celery -A XNBackend.app worker -B -c 10 -n general -l info --logfile=/var/log/xnback/xn-general.log --pidfile=/run/xnback/xn-general.pid -Q general
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure

