[Unit]
Description=Restart celery worker 

[Service]
Type=simple
User=xn
WorkingDirectory=/home/xn/xn-backend
Environment=XN_SETTINGS=../settings.cfg
ExecStart=/home/local/bin/pipenv run python -m celery -A XNBackend.app worker -c 1 -n worker@%i -Q %i --logfile=/var/log/xnback/%n.log
Restart=always
RestartSec=100ms

[Install]
WantedBy=multi-user.target
