[Unit]
Description=API server for xn project
after=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=xineng
PIDFile=/var/run/xnback.pid
WorkingDirectory=/home/xineng/xn-backend
ExecStart= /home/xineng/.local/share/virtualenvs/xn-backend-62k_6oca/bin/gunicorn --chdir /home/xineng/xn-backend -c /etc/xnback/gunicorn.conf XNBackend.app.entry:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
