[Unit]
Description=API server for xn project
after=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=xn
PIDFile=/var/run/xnback.pid
WorkingDirectory=/home/xn/xn-backend
ExecStart= /home/xn/.local/share/virtualenvs/xn-backend-OW3wpJxa/bin/gunicorn --chdir /home/xn/xn-backend -c /etc/xnback/gunicorn.conf XNBackend.app.entry:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
