[Unit]
Description=API server for xn project
after=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=web
PIDFile=/var/run/xnback.pid
WorkingDirectory=/home/web/xn-backend
ExecStart= /home/web/.local/share/virtualenvs/xn-backend-LQJphCxc/bin/gunicorn --chdir /home/web/xn-backend -c /etc/xnback/gunicorn.conf XNBackend.app.entry:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
