from datetime import timedelta
from kombu import Exchange, Queue

DEBUG=True

CELERY_BROKER_URL = 'redis://127.0.0.1:6379'
CELERY_RESULT_BACKEND = 'redis://127.0.0.1:6379'

WTF_CSRF_SECRET_KEY = SECRET_KEY = 'aaaabbbccddefg'

JWT_SECRET_KEY='qazxcvbnmklpoiuytrewsdfghjk'
JWT_AUTH_URL_RULE=None
JWT_ACCESS_TOKEN_EXPIRES=timedelta(days=7)

SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://test:test@127.0.0.1:3306/wf?charset=utf8mb4'
SQLALCHEMY_TRACK_MODIFICATIONS=False

JWT_EXPIRATION_DELTA = timedelta(seconds=60*60*24)


LOG_DIR = './'
BUNDLE_ERRORS = True
MAX_CONTENT_LENGTH = 16*1024*1024

low_exchange = Exchange('first', type='direct')
high_exchange = Exchange('second', type='direct')

CELERY_QUEUES = (
	Queue(name='celery'),
	Queue(name='first', exchange=low_exchange, routing_key='first'),
	Queue(name='second', exchange=high_exchange, routing_key='second')
)

CELERY_ROUTES = {
    'XNBackend.task.sensor.task.network_relay_query':{"queue":"first", "routing_key":"first"},
    'XNBackend.task.sensor.task.IR_sensor_query':{"queue":"first", "routing_key":"first"},
    'XNBackend.task.sensor.task.AQI_sensor_query':{"queue":"first", "routing_key":"first"},
    'XNBackend.task.sensor.task.Lux_sensor_query':{"queue":"first", "routing_key":"first"},
    'XNBackend.task.mantunsci.task.power_month':{"queue":"second", "routing_key":"second"},
    'XNBackend.task.mantunsci.task.power_day':{"queue":"second", "routing_key":"second"},
    'XNBackend.task.mantunsci.task.circuit_current':{"queue":"second", "routing_key":"second"},
}

#TASK_REJECT_ON_WORKER_LOST = True
#TASK_ACKS_LATE = True
