from datetime import timedelta
from celery.schedules import crontab
from kombu import Exchange, Queue

DEBUG=True

CELERY_BROKER_URL = 'redis://127.0.0.1:6379'
CELERY_RESULT_BACKEND = 'redis://127.0.0.1:6379'

WTF_CSRF_SECRET_KEY = SECRET_KEY = 'aaaabbbccddefg'

JWT_SECRET_KEY='qazxcvbnmklpoiuytrewsdfghjk'
JWT_AUTH_URL_RULE=None
JWT_ACCESS_TOKEN_EXPIRES=timedelta(days=7)

SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://test:test@127.0.0.1:3306/xn?charset=utf8mb4'
SQLALCHEMY_TRACK_MODIFICATIONS=False

JWT_EXPIRATION_DELTA = timedelta(seconds=60*60*24)


LOG_DIR = './'
BUNDLE_ERRORS = True
MAX_CONTENT_LENGTH = 16*1024*1024

first_exchange = Exchange('sensor', type='direct')
second_exchange = Exchange('mantunsci', type='direct')
third_exchange = Exchange('hik', type='direct')

CELERY_QUEUES = (
	Queue(name='sensor', exchange=first_exchange, routing_key='sensor'),
	Queue(name='mantunsci', exchange=second_exchange, routing_key='mantunsci'),
	Queue(name='hik', exchange=third_exchange, routing_key='hik')
)

CELERY_ROUTES = {
    'XNBackend.task.sensor.task.tasks_route':{"queue":"sensor", "routing_key":"sensor"},
    'XNBackend.task.mantunsci.task.*':{"queue":"mantunsci", "routing_key":"mantunsci"},
    'XNBackend.task.hik.task.*':{"queue":"hik", "routing_key":"hik"},
}


CELERYBEAT_SCHEDULE = {
	'aqi_sensor': {
		'task': 'XNBackend.task.sensor.task.tasks_route',
		'schedule': crontab(minute='*'),
		'args': ('Switch')
	}
}

CELERY_REJECT_ON_WORKER_LOST = True
CELERY_ACKS_LATE = True
CELERYD_POOL_RESTARTS = True
