from datetime import timedelta
from celery.schedules import crontab
from kombu import Exchange, Queue

DEBUG=True

CELERY_BROKER_URL = 'redis://127.0.0.1:63379'
CELERY_RESULT_BACKEND = 'redis://127.0.0.1:63379'

WTF_CSRF_SECRET_KEY = SECRET_KEY = 'aaaabbbccddefg'


JWT_SECRET_KEY='qazxcvbnmklpoiuytrewsdfghjk'
JWT_AUTH_URL_RULE=None
JWT_ACCESS_TOKEN_EXPIRES=3600

# SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://xn:Pass1234@10.100.101.199:3306/xn?charset=utf8mb4'
SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://test:test@127.0.0.1:33306/xn?charset=utf8mb4'
SQLALCHEMY_TRACK_MODIFICATIONS=False

JWT_EXPIRATION_DELTA = timedelta(seconds=60*60*24)


LOG_DIR = './'
BUNDLE_ERRORS = True
MAX_CONTENT_LENGTH = 16*1024*1024

low_exchange = Exchange('first', type='direct')
high_exchange = Exchange('second', type='direct')


CELERY_TIMEZONE = 'Asia/Shanghai'

CELERYBEAT_SCHEDULE = {
    "query_air_condition": {
        'task': 'XNBackend.tasks.air_condition.tasks.periodic_query_air_condition',
        'schedule': crontab(minute='*/5'),
        'args': ()
    }
}

#TASK_REJECT_ON_WORKER_LOST = True
#TASK_ACKS_LATE = True

# Air Conditioner Part
AC_SERVER_IP = '10.100.100.20'
AC_SERVER_PORT = 80
AC_APPCODE = 'daiKinApp'
AC_SECRET_KEY = 'AFF841C0A5BE48EC8A5EE94751F7036F'

# Mantunci Part
MANTUNSCI_AUTH_URL = 'http://10.100.101.198:8088/ebx-rook/'
MANTUNSCI_USERNAME = 'prod'
MANTUNSCI_PASSWORD = 'abc123++'
MANTUNSCI_APP_KEY = 'O000000063'
MANTUNSCI_APP_SECRET = '590752705B63B2DADD84050303C09ECF'
MANTUNSCI_REDIRECT_URI = 'http://10.100.101.198:8088/ebx-rook/demo.jsp'
MANTUNSCI_PROJECT_CODE = 'P00000000001'
MANTUNSCI_ROUTER_URI = 'http://10.100.101.198/ebx-rook/invoke/router.as'

# room number config
FLOOR_ROOM_MAPPING = {
    3: range(301, 325),
    4: range(401, 428),
    5: range(501, 524),
    6: range(601, 630),
    7: range(701, 730),
    9: range(901, 905),
    }

# electricity price for kwh
UNIT_PRICE = 0.6

# floor people
PEOPLE_COUNT = {
    3: 50,
    4: 50,
    5: 60,
    6: 60,
    7: 60,
    9: 60
}


# redis part
REDIS_PORT = 63379
REDIS_HOST = '127.0.0.1'

# zlan part
ZLAN_PORT = 4196
